
.header{
    &.dashboard {
        height: 70vh;
        background: url(../../images/dashboard-background.jpg);
        background-size: cover;
        background-position: bottom;
        justify-content: flex-start;

        .title {
            &.dashboard{
                margin-top: 15vh;
            }
        }
        
    }
}


.container{
    &.dashboard {
        background-color: $forthColor;
        position: relative;
        main {
            position: absolute;
            width: 80vw;
            height: 50vh;
            background-color: $forthColor;
            z-index: 2;
            top: 35vh;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 50px;
            

            .main-top {
                display: flex;
                flex-wrap: wrap;
               justify-content: center;
                
                
                .add-btn {
                    width: 350px;
                    height: 250px;
                    background-color: $mainColor;
                    color: lighten($mainColor, 70%);
                    border: none;
                    @include flexColCenter;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    margin: 10px;
                    @include boxShadow;
                    

                    .add-btn-info{
                        font-size: 1.3em;
                        font-weight: 500;
                        
                    }

                    .add-icon {
                        font-size: 5em;
                    }
                }

                
            }
            
        }
         
     }

     
}


