
.header {



    &.home {
        background-image: url('../../images/background.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 70vh;

       

        p{
            @include textShadow;
            font-size: 1.1em;
            margin-top:4vh;
            color: darken($forthColor, 15%);
        }

    }

}

main {
    h1{
        margin: 10vh 0 5vh 0;
        font-size: 2.6em;
    }
    @include flexColCenter;
    align-items: center;

    .search {
        padding: 20px;
        width: 60%;
        margin: 0 0 10vh 0;
        background-color: lighten($mainColor, 70%);
        border: none;
        border-radius: 80px;
        outline: none;

        @include boxShadow;
    }
}