@import "./config";
@import "../components/dashboard/dashboard";
@import "../components/footer/footer";
@import "../components/home/home";
@import "../components/login/login";
@import "../components/navbar/navbar";
@import "../components/register/register";
@import "../components/portfolio/portfolio";
@import "../components/home/previewPortfolios/previewPortfolios";
@import "../components/dashboard/portfolioItems/portfolioItems";

*{
    margin: 0;
    padding: 0;
}

.container {
    min-height: calc(100vh - 6vh);
}

.App {
    font-family: $mainFont;
    color: $mainColor;
}



.header{
    
    @include flexColCenter;
    align-items: center;
    
    .title{
        font-size: 4em;
        display: flex;
        flex-direction: column;
        letter-spacing: 2px;
        @include textShadow;
        color: $forthColor;

        span{
            font-size: 0.9em;
            margin-top: 3vh;
            letter-spacing: 1px;
        }
    }
  
}

.simpleLink {
    color: $secondColor;
    &:hover{
        color: $thirdColor;
    }
    
}

.btn {

     padding: 15px 30px;
     min-width: 170px;
     border-radius: 100px;
     text-decoration: none;
     font-weight: 400;
     border: none;   
     @include boxShadow;
    

     &.primary{
         background: $secondColor;
         margin-top: 8vh;
         color: $forthColor;
         font-size: 1.2em;

         &:hover{
             background: $thirdColor;
             cursor: pointer;
         }
         
     }
}