.previews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    .previewBox {
    width: 250px;
    height: 300px;
    background: lighten($mainColor, 50%);
    margin: 20px;
    border-radius: 5px;
    }
}